@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

a {
  all: unset;
}

@keyframes you-spin-me-right-round-baby {
    100% { transform: rotate(360deg); } 
}

.bubbles {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  
  .bubbles-items-wrapper {
    width: 100vw;
    height: 100vh;
  }

  &-item {
    position: absolute;
    border-radius: 100%;
    background-color: #000;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    &.black {
      box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.25);
    }
  }

  &-control {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: darken(#7fffd4, 50%);
    opacity: 0.9;
    backdrop-filter: blur(100px);
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 25%;
    z-index: 100;
    min-width: 320px;
    max-width: 620px;

    &-refresh {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0.5em;
      cursor: pointer;

      svg {
        transform-origin: center;
        animation: you-spin-me-right-round-baby 2s infinite;
      }
    }
    
    &.black {
      box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.25);
    }

    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      
      &.dark {
        color: #FFF;

        button {
          color: #FFF;
          border-color: #FFF;

          &:hover {
            background-color: #FFF;
            color: #000;
          }
        }
      }

      &.light {
        color: #000;

        button {
          color: #000;
          border-color: #000;
          &:hover {
            background-color: #000;
            color: #FFF;
          }
        }
      }
      
      .bubbles-control-content {
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;
        font-size: 14px;

        &-title {
          width: 100%;
          text-align: center;

          &:first-child {
            margin-bottom: 2em;
          }
          
          h1 {
            margin: 0 0 .1em;
            font-weight: 300;
            font-size: 2em;
          }
          
          h2 {
            margin: 0 0 .25em;
            font-weight: 300;
            font-style: italic;
            font-size: .9em;
          }
          
          span {
            margin: 0;
            font-weight: 300;
            font-style: italic;
            font-size: 1em;
          }
          
          button {
            background-color: transparent;
            border-width: 0.1em;
            border-style: solid;
            border-radius: 10em;
            padding: 0.5em 1.2em;
            display: block;
            margin: 0 auto;
            font-weight: 300;
            font-size: 0.5em;
            margin-bottom: 7.5em;
            cursor: pointer;
            transition: 0.4s;
          }
        }

        &-icons {
          width: 100%;
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;
          margin-bottom: 0.75em;

          li {
            text-align: center;
            font-size: 1.75em;
            padding: 0 0.5em;

            a {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}